html {
  font-size: 16px;
  font-family: Gill Sans Extrabold, sans-serif;
  margin: 20px;
  width: 600px;
}

a {
  text-decoration: none;
}

nav {
  background-color: blue;
  border: 1px dotted #ccc;
  padding: 15px;
}

nav p, nav a {
  display: inline;
  padding: 5px;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

.portfolio ul {
  list-style-type: none;
}

.portfolio li img {
  margin: 0 15px 0 0;
  height: 100px;
  float: left;
}

.portfolio li {
  padding: 5px;
  height: 100px;
}

.bio-body img {
  float: left;
  height: 300px;
  padding: 0 20px 10px 0;
  }

.bio-body p {
  text-align: justify;
}

footer {
  padding-top: 5px;
  font-size: .75rem;
}
