html {
  font-size: 16px;
  font-family: Gill Sans Extrabold, sans-serif;
  margin: 20px;
}

a {
  text-decoration: none;
}

nav {
    background-color: #ddd;
    width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
}

nav p {
  display: inline;
  padding: 5px;
}

ul {
  list-style-type: none;
  width: 600px;
}

li img {
  margin: 0 15px 0 0;
}

li {
  padding: 5px;
}

img.bio {
  float: left;
  height: 300px;
  padding-right: 20px;
}
