.animate {
  /*background: rgb(0, 150, 255);
  /*font-size: 2rem;*/
  /*margin: 0 auto;
  text-align: center; */

  /*height: 10vmin;
  line-height: 0vmin;
  width: 10vmin; */

  /*position: relative;*/
  /*bottom: 59%;
  left: 7%;*/

  /* Here's the Magic! */
  transition: all 1s ease 0s;
}

.animate:hover {
  /*TRANSFORMATIONS */
 transform: rotate(360deg);
 transform: rotate3d(1, 1, 1, 360deg);
   /*animation: 1s ease-out 0s infinite pulse;*/
}

/*@keyframes pulse {
  0% { box-shadow: 0 0 0 rgb(253, 254, 0); }
  50% { box-shadow: 0 0 5rem rgb(253, 254, 0); }
  100% { box-shadow: 0 0 0 rgb(253, 254, 0); }
}*/
